body{

background-color:orange;

border-style: solid;
}

p{color: blue; font-family: Arial;}

h1{color: purple; font-family: Aharoni;}

h3{color: black; font-family: Garamond;} 

ul{
  list-style-type: lower-roman;
  
  color: yellow;
  
  font-family:"Iskoola Pota";
}

hr{color: white;}
